header {
  color: aqua;
}

h1 {
  text-align: 1;
}===================================
# 共通パーツ
================================================================== */
/*=================================================================
# header
================================================================== */
.header {
  width: 100%;
}

/*=================================================================
# footer
================================================================== */