@charset "UTF-8";
/*=================================================================
# 共通パーツ
================================================================== */
/*=================================================================
# ボタン
================================================================== */
/*=================================================================
# header
================================================================== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #4f4d4d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 50px;
}

.header-title {
  font-size: 2.2em;
  color: white;
  text-decoration: none;
}

.header-state {
  margin: 25px 0 0 auto;
  display: block;
  margin-left: auto;
  color: white;
  font-size: 1.2em;
}
.header-state a {
  margin: 15px 0 0 0;
  text-align: right;
  display: block;
  color: white;
  text-decoration: underline;
}