@charset "UTF-8";
/*=================================================================
# 共通パーツ
================================================================== */
/*=================================================================
# ボタン
================================================================== */
a {
  text-decoration: none;
  font-weight: 400;
}

body {
  margin: 0px;
  background-color: #eeeeee;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}