<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/cart.css">
<link rel="stylesheet" type="text/css" href="/css/items.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<main class="cart-main">
		<h2 class="cart-title">カート商品</h2>
		<span th:replace="cartItem"></span>
		<form class="cart-button" action="/order">
			<button class="cart-button">注文する</button>
		</form>
	</main>
	<hr>
</body>
</html>
