<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CustomerInfo</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/customerform.css">
<link rel="stylesheet" type="text/css" href="/css/items.css">
<link rel="stylesheet" type="text/css" href="/css/cart.css">
</head>
<body>

	<header th:replace="header"></header>
	<main class="cart-main" style="height:auto;">
		<h2 class="cart-title">ご注文商品</h2>
		<span th:replace="cartItem"></span>
	</main>


	<main class="customer-main">

		<h3 class="customer-title">お客様情報入力</h3>
		<form class="customer-form"  action="/order/confirm" method="post">
			<table border="1"  class="customer-table">
				<tr class="customer-name">
					<th>お名前</th>
					<td>
						<input type="text" name="name">
					</td>
				</tr>
				<tr class="customer-address">
					<th>住所</th>
					<td>
						<input type="text" name="address">
					</td>
				</tr>
				<tr class="customer-tel">
					<th>電話番号</th>
					<td>
						<input type="text" name="tel">
					</td>
				</tr>
				<tr class="customer-email">
					<th>e-mail</th>
					<td>
						<input type="text" name="email">
					</td>
				</tr>
			</table>
			<button class="customer-button">確認画面へ</button>
		</form>
	</main>
</body>
</html>
