<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<header class="header-login">
		<h1 class="header-title">サンプルショッピング</h1>
	</header>
	<main>

		<h2 class="sub-title">login</h2>
		<form action="/login" method="post" class="login-form">
			<br><span class="error-message" th:text ="${message}"></span>
			<input type="text" name="name" placeholder="名前">
			<button>ログイン</button>

		</form>
	</main>

</body>
</html>
