@use 'variable' as v;

// ヘッダー（ログイン画面用）
.header-login {
  background: v.$main-color;
  height: 100px;
}

// メインコンテンツ全体のレイアウト
main {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

// サブタイトル
.sub-title {
  text-align: center;
  font-size: 1.6em;
  padding-top: 70px;
  letter-spacing: normal;
}

// ログインフォーム
.login-form {
  border: 2px solid #585858;
  background-color: #fff;
  width: 40%;
  height: 350px;
  margin: 70px auto 0 auto;
  position: relative;

  .error-message {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    text-align: center;
    color: #ff0e0d;
    display: block;
  }

  input {
    width: 50%;
    height: 40px;
    border: 2px solid #585858;
    margin: 70px auto 0 auto;
    padding-left: 10px;
    display: block;
  }

  button {
    @include v.button(v.$main-color, #fff, 30%, 40px);
    margin: 40px auto;
  }
}
